Repository GMLC-TDC/HELICS, pull requests merged in 2020-11, with the labels that each got.

#1679 move pendingMessages method to pendingMessagesCount
  src/helics/application_api/Endpoints.cpp
  src/helics/application_api/Endpoints.hpp
  src/helics/application_api/MessageFederate.cpp
  src/helics/application_api/MessageFederate.hpp
  src/helics/application_api/MessageFederateManager.cpp
  src/helics/application_api/MessageFederateManager.hpp
  src/helics/cpp98/Endpoint.hpp
  src/helics/cpp98/MessageFederate.hpp
  src/helics/shared_api_library/MessageFederate.h
  src/helics/shared_api_library/MessageFederateExport.cpp
  tests/helics/application_api/FilterTests.cpp
  tests/helics/application_api/MessageFederateAdditionalTests.cpp
  tests/helics/application_api/MessageFederateKeyTests.cpp
  tests/helics/apps/combo_tests.cpp
  tests/helics/shared_library/FilterTests.cpp
  tests/helics/shared_library/badInputTests.cpp
  tests/helics/shared_library/evilInputTests.cpp
  tests/helics/shared_library/test-message-federate.cpp
  tests/helics/shared_library/test-message-federate_cpp.cpp
  tests/java/JavaHelicsApiTests.java
Labels: v3 api change

#1682 remove a redundant raw from some of the method names
  docs/user-guide/simulator_integration.md
  interfaces/octave/octave_maps.i
  src/helics/application_api/Inputs.cpp
  src/helics/application_api/Inputs.hpp
  src/helics/application_api/Publications.cpp
  src/helics/application_api/ValueFederate.cpp
  src/helics/application_api/ValueFederate.hpp
  src/helics/application_api/helicsTypes.hpp
  src/helics/cpp98/Endpoint.hpp
  src/helics/cpp98/Input.hpp
  src/helics/cpp98/Publication.hpp
  src/helics/shared_api_library/MessageFederate.h
  src/helics/shared_api_library/MessageFederateExport.cpp
  src/helics/shared_api_library/ValueFederate.h
  src/helics/shared_api_library/ValueFederateExport.cpp
  tests/helics/application_api/ValueFederateAdditionalTests.cpp
  tests/helics/application_api/ValueFederateKeyTests.cpp
  tests/helics/application_api/subPubObjectTests.cpp
  tests/helics/shared_library/FilterTests.cpp
  tests/helics/shared_library/TimingTests.cpp
  tests/helics/shared_library/badInputTests.cpp
  tests/helics/shared_library/evilInputTests.cpp
  tests/helics/shared_library/test-message-federate.cpp
  tests/helics/shared_library/test-value-federate1.cpp
  tests/helics/shared_library/test-value-federate2.cpp
  tests/helics/shared_library/test-value-federate2_cpp.cpp
  tests/java/JavaHelicsApiTests.java
  tests/octave/messageFedTests.m
  tests/octave/messageFilterTests.m
Labels: v3 api change

#1688 Fix a few warnings in mac and other builds
  .ci/azure-pipelines.yml
  docs/developer-guide/swig.md
  docs/user-guide/simulator_integration.md
  scripts/setup-helics-ci-options.sh
  src/helics/application_api/MessageFederate.cpp
  src/helics/core/SmallBuffer.hpp
  tests/helics/application_api/ValueConverterTests.cpp
Labels: v3 api change

#1702 Add a warning message if a message is sent to an unknown destination
  src/helics/core/ActionMessage.cpp
  src/helics/core/CoreBroker.cpp
  tests/helics/application_api/MessageFederateAdditionalTests.cpp
Labels: enhancement

#1628 Update macOS deployment target to 10.14
  .github/actions/setup-macos-10.9-sdk.sh
  .github/workflows/release-build.yml
  CMakeLists.txt
Labels: Installation/build, v3 breaking change

#1705 add a test for queries on disconnected targets
  src/helics/core/CoreBroker.cpp
  tests/helics/system_tests/QueryTests.cpp
Labels: bug
